.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 200px;
  width: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
